  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_html }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | join: ', ' }}{% else %}{{ site.keywords | join: ', ' }}{% endif %}">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}" />
    <meta name="google-site-verification" content="{{ site.google_site_verification }}">
    <meta name="msvalidate.01" content="{{ site.msvalidate }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
    <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png">
    <link rel="alternate" href="{{ site.baseurl }}/rss.xml" type="application/atom+xml" title="{{ site.title }} Feed">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ site.google_analytics_code }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
