* {
  @include box-sizing(border-box);
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "PT Serif", "Georgia", "Times New Roman", serif;
  font-size: 16px;

  @media (min-width: 52em) {
    font-size: 21px;
  }
}

body {
  padding: 2rem;
  line-height: 1.5;
  color: #555;
  background-color: #fcfcfc;
}

p { margin: 0 0 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: bold;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.6rem; }
h3 { font-size: 1.2rem; }

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem;
}

/* Emphasis
-------------------------------------------------- */

em,
strong {
  padding-left: .1em;
  padding-right: .1em;
}

em { color: #666; }

strong {
  font-weight: bold;
  color: #333;
}

blockquote strong { color: inherit; }

/* Links
-------------------------------------------------- */

a {
  font-weight: inherit;
  line-height: inherit;
  color: #000;
  text-decoration: none;
  @include transition(all, .15s, ease-in-out);
}

a:hover {
  color: #000;
}
