/* Layout
-------------------------------------------------- */

.container {
  max-width: 35rem;
  margin: 0 auto;
}

@media (min-width: 32em) {
  .site-title { float: left; }
  .site-header { text-align: right; }
}

.site-header:after { @include divider-line; }

.site-nav {
  ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }

  li { display: inline-block; }
  li + li { margin-left: .5rem; }
}

.site-footer { text-align: center; }
.site-footer:before { @include divider-line; }
